@use '../../foundation/mixins.media' as media;

.p-pagetitle {
  display: flex;
  width: 100vw;
  height: clamp(265px, 50vw, 375px);
  //height: 375px;

  //@include media.mq('md') {
  //  padding: 64px 0;
  //  &__title { font-size: 2.5rem; }
  //}
}

.p-pagetitle_txt {
  z-index: 999;
}
