.u-mt0 { margin-top: 0px; }
.u-mt5 { margin-top: 5px; }
.u-mt8 { margin-top: var(--sp-8) !important; }
.u-mt16 { margin-top: var(--sp-16) !important; }
.u-mb0 { margin-bottom: 0px; }
.u-mb16 { margin-bottom: var(--sp-16) !important; }
.u-mb24 { margin-bottom: var(--sp-24) !important; }
.u-ml20 { margin-left: 20px; }
.u-p16  { padding: var(--sp-16) !important; }
.u-pl0 { padding-left: 0; }
.u-px40 { padding-inline: 40px; }
.u-px10p { padding-inline: 10%; }
.u-px10 { padding-inline: 10px; }