.u-text-center { text-align: center !important; }
.u-text-right  { text-align: right !important; }

.u-text-color1 { color: blue; }
.u-text-color2 { color: white; }

.u-text-size18 { font-size: 18px; }

.u-text-fntfam1 { font-family: serif; }

.u-text-fntweit600 { font-weight: 600; }



